[submodule "lib/Adafruit_BNO055"]
	path = lib/Adafruit_BNO055
	url = git@github.com:adafruit/Adafruit_BNO055.git
	branch = master
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
	branch = master
